
<body ng-app="myApp">
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a href='/users/sign_out' target='_self' data-method='delete'>Sign Out</a></li>
      </ul>
      <h3 class="text-muted"><%= t( 'app_name', name: RailsAngularDevise::Application.config.app_name ) %> - angular page</h3>
    </div>

    <div ng-view=""></div>

  </div>
</body>
